.card{
    width: 200px;
    height: 130px;
    padding-left: 10px;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.icon{
    font-size: 50px;
    width: fit-content;
    height: fit-content;
}
mat-icon{
    font-size: 27px;
}

h3{
    font-weight: 600;
}

.orange{
    background-color: orange;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}