
<div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIX4ocmY20apx8ctys4Mis5t1ZiFleEN3fjjqMEtrrEubsnLip6y11lUa7qYRj2fjnBbk&usqp=CAU">
    <h2>Admin</h2>
    <p>admin@gmail.com</p>
    </div>

    <mat-divider></mat-divider>

    <div class="pages">
        <h3>pages</h3>
        <a routerLink="">DashBoard</a>
        <a routerLink="gallery">Gallery</a>
        <a routerLink="employees">Employees</a>
    </div>

    <mat-divider></mat-divider>

    <div class="tools">
        <h3>Tools</h3>
        <a routerLink="add-employee"><mat-icon>person_add</mat-icon>Add Employee</a>
        <a routerLink="lead"><mat-icon>person_add</mat-icon>Leads</a>
    </div>